div {
    position: absolute;
    width: 300px;
    height: 150px;
    z-index: 3;
    background: white;
    left: 45%;
    right: 45%;
    top: 45%;
    text-align: center;
}

.is_overlay {
    display: block;
    width: 100%;
    height: 100%;
}

#trailer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#trailer>video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    #trailer>video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #trailer>video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    #trailer {
        display: none;
    }
}


/* Если есть поддержка object-fit (Chrome/Chrome для Android, Safari в iOS 8 и Opera), используем его: */

@supports (object-fit: cover) {
    #trailer>video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
